.list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}

.list-content {
    overflow-y: auto;
    height: 100%;
}
.list-content-msg{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-header{
    border-bottom: 1px solid black;
}
.remove-item-btn{
    background-color: rgba(178, 34, 34, .7);
    color: whitesmoke;
}