.profile-wrapper {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 40% 45%;
    grid-template-areas: "hdr" "con" "rm"
}

.profile-header {
    grid-area: hdr;
    font-size: 1.5em;
    color: grey;
}

.profile-content {
    display: flex;
    font-size: 1.3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: con;
}

.profile-content a,
.profile-content button {
    padding: .3em;
    text-align: center;
    width: 50%;
    margin: auto;
}
.profile-content a:hover{
    text-decoration: underline;
}

.profile-delete {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-area: rm;
    padding-bottom: 2em;
}

.profile-delete button {
    width: 80%;
    height: 5em;
    color: whitesmoke;
    background-color: rgba(178, 34, 34, .7);
}

.modal-custom {
    position: absolute;
    top: 50%;
    left: 40%;
    background-color: rgba(200,150,400, .9);
    transform: translateX(-50%);
    padding: 1em;
    text-align: center;
}

.modal-header-custom {
    text-align: left;
}

.modal-header-custom button {
    font-size: 1.5em;
}

.modal-title-custom {
    font-size: 1.4em;
    color: firebrick;
    text-align: center;
}

.modal-body-custom button {
    margin: .2em;
}

@media screen and (min-width:500px) {
    .profile-delete {
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 600px) {
    .profile-header {
        text-align: center;
    }
}

@media screen and (min-width:800px) {
    .profile-delete {
        width: 60%;
        margin: auto;
    }
}

@media screen and (min-width:1100px) {
    .profile-delete {
        width: 40%;
        margin: auto;
    }
}