nav {
    grid-area: nav;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    padding: .8em;
    background-color: rgba(127, 191, 255, 0.8);
}
nav a {
    color: whitesmoke;
}
