header {
    width: 100%;
    margin: auto;
    grid-area: hdr;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    font-size: 1.2em;
    background-color: rgba(127, 191, 255, 0.8);
}

header a, header p{
    color: whitesmoke;
}

i {
    padding-right: .1em;
}

@media screen and (min-width: 1200px) {
    header {
        font-size: 1.5em;
    }
}